<div class="psjs payment-gateway">
  <% param_prefix = "payment_source[#{payment_method.id}]" %>
  <div id="psjs">
    <!-- a PaySimpleJS Payment Form will be inserted here -->
  </div>

  <p class="mt-4" style="font-size:0.9rem">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
      <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
    </svg>
    All transactions are secure and encrypted.
  </p>

</div>
<% billingAddress = @order.send("billing_address") %>
<% shippingAddress = @order.send("shipping_address") %>
<script src="https://sandbox-api.paysimple.com/paysimplejs/v1/scripts/client.js"></script>
<script>
    document.addEventListener('turbolinks:load', function () {
        SpreePaySimple.paymentMethodID = "<%= payment_method.id %>";
        SpreePaySimple.customer = {
            firstName: '<%=billingAddress.first_name %>',
            lastName: '<%=billingAddress.last_name %>',
            email: '<%=@order.email %>',
        }
        SpreePaySimple.billingAddress = {
            city: '<%=billingAddress.city %>',
            zipCode: '<%=billingAddress.zipcode %>',
            stateCode: '<%=billingAddress.state.try(:abbr) %>',
            streetAddress1: '<%=billingAddress.address1 %>',
            streetAddress2: '<%=billingAddress.address2 %>'
        }
        SpreePaySimple.shippingAddress = {
            city: '<%=shippingAddress.city %>',
            zipCode: '<%=shippingAddress.zipcode %>',
            stateCode: '<%=shippingAddress.state.try(:abbr) %>',
            streetAddress1: '<%=shippingAddress.address1 %>',
            streetAddress2: '<%=shippingAddress.address2 %>'
        }
    })
</script>